@model AKKTN_Pr00.Models.admintbl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>admintbl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adminpass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adminpass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.adminID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
