@model IEnumerable<admintbl>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>building Web apps with ASP.NET Core with Ngcebo,Thabs Thabiso</a>.</p>
</div>
@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.adminID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cell)
                </td>
            </tr>
        }
    </tbody>
</table> *@
