@model IEnumerable<Clients>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>building Web apps with ASP.NET Core with Ngcebo,Thabiso,Khayle & Tivon</a>.</p>
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WCC)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td> 
                <td>
                    @(item.WCC ? "Yes" : "No")
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="@Url.Action("Index", "Home",  new { user = "admin" })">Reveal Registration</a>
 *@